.foto-perfil{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border: 5px solid white;

}

.corPrimaria {
    background-image: linear-gradient(rgb(71, 71, 71), rgb(5, 79, 139));
    color: white;
}
p{
    font-family:Lato, 'Henvetica Neue', Helvetica, Arial, sans-serif;
    color: black !important;
}

.icons{
    padding-left: 5px;
}

.footer{
    background-color: rgb(37, 37, 37);
    color: white;
    padding-bottom: 60px;
    padding-top: 60px;
}

.letters{
    color: white !important;
}
.jumbotron{
    margin-bottom: 0px;
    border-radius: 0px;
}
.about{
    background-color: rgb(37, 37, 37);
    color: white !important;    
}
html{
    scroll-behavior: smooth;
}


